VITE_API_BASE_URL=http://127.0.0.1:8000
VITE_DEMO_TICKER=TRIDENT.BO
VITE_BUY_THRESHOLD=1.0
VITE_SELL_THRESHOLD=-1.0
VITE_XSTREAM_BASE_URL=https://xstream.5paisa.com
VITE_XSTREAM_ACCESS_TOKEN=
VITE_XSTREAM_API_KEY=
VITE_XSTREAM_CLIENT_CODE=
VITE_XSTREAM_USER_ID=
VITE_XSTREAM_USER_PASSWORD=
VITE_XSTREAM_ENCRYPTION_KEY=
VITE_XSTREAM_APP_SOURCE=
